*sh
*pyc
/data/predIdData/chars.txt
/data/predIdData/fasttext_300_nsw.trimmed.npz
/data/predIdData/tags.txt
/data/predIdData/words.txt
/data/fasttext_300_nsw.w2v
/results
*.DS_Store
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/SRLModel.iml
/.idea/vcs.xml
/.idea/shelf/gitignore_file_added.xml
/.idea/shelf/gitignore_file_added/shelved.patch
/.idea/workspace.xml
